@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Global Styles */
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    z-index: 9999;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.white{
    color: #e5e5e5;
}

.big-text h2{
    max-width: 600px;
}

.big-text h3{
    max-width: 800px;
}

.big-text h2,
.big-text-full h2{
    letter-spacing: 1px;
}

.big-text h3,
.big-text-full h3{
    letter-spacing: 0;
    word-spacing: 2px;
    margin-bottom: 30px;
    line-height: 1.2;
}

/* Buttons
-------------------------*/
.button{
    background: transparent;
    border: 3px solid #191919;
    justify-content: center;
    color: #191919;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    word-spacing: 1px;
    transition: all 0.4s;
}

.button:hover{
    color: #ffffff;
    background: #191919;
    border: 1px solid #191919;
}


/* Font Sizes*/
.f-smaller{
    font-size: 10px;
}

.f-small{
    font-size: 13px;

}

.f-normal{
    font-size: 16px;

}

.f-semi-expanded{
    font-size: 1.5em;

}

.f-medium{
    font-size: 20px;
}

.f-expanded{
    font-size: 2.5em;

}

.f-big{
    font-size: 45px;
}

.f-large{
    font-size: 2.5rem;
}

.f-extra-expanded{
    font-size: 6em;
}

/* Font Weight*/
.ultrabold{
    font-weight: 900;
}

.extrabold{
    font-weight: 800;
}

.bold{
    font-weight: 700;
}

.semibold{
    font-weight: 600;
}

.normal{
    font-weight: 400;
}

.light{
    font-weight: 300;
}

.lighter{
    font-weight: 100;
}


/* Font Positions */
.big-text i{
    font-size: 7em;
}

.t-left{
    text-align:left !important;
}

.t-center{
    text-align:center !important;
}

.t-right{
    text-align:right !important;
}

/* Font Transformation*/
.italic{
    font-style: italic;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}


.margin-auto{
    margin: auto;
}

.no-padding{
    padding:0 !important;
}

.no-padding-top{
    padding-top:0 !important;
}

.no-padding-bottom{
    padding-bottom:0 !important;
}

.no-margin{
    margin:0 !important;
}

.no-margin-bottom{
    margin-bottom:0 !important;
}

.no-margin-left{
    margin-left:0 !important;
}

.no-margin-right{
    margin-right:0 !important;
}

.no-margin-top{
    margin-top:0 !important;
}

.no-margin-bottom{
    margin-bottom:0 !important;
}

.no-border{
    border: none !important;
}

.no-letter-spacing{
    letter-spacing: 0 !important;
}

.margin-bottom-60px{
    margin-bottom: 120px;
}

.sections{
    width: 100%;
    z-index:1;
}


/* Header Styles */
header {
    background-color: #252525;
    color: white;
    padding: 1rem 0;
    z-index: 9999;
}

#header-pages{
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    display: flex;
}

.section-content{
    padding: 0 10% 0 10%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-links {
    display: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.nav-links a:hover {
    text-decoration: none;
    color: #fdcb1c;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.image-background{
    width: 100%;
    background: url(./img/background-1.png) center;
    display: flex;
}
/* Main Content Styles */

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Footer Styles */
footer {
    background-color: #252525;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer-logo img{
    width: 60px;
    border-radius: 100%;
}

.footer-details p{
    text-decoration: none;
}

.footer-details a{
    text-decoration: none;
}

.footer-details a:hover{
    text-decoration: none;
    color: #fdcb1c;
}


/* Home Page Styles */
.me {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-top: 50px;
}

.me img {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

/* Family Page Styles */
.family-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.family-member {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    text-align: center;
}

.family-member img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* Education Page Styles */
.timeline {
    list-style-type: none;
    padding-left: 0;
}

.timeline li {
    margin-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #d1b1ff;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #fbe4ff;
}

/* Hobbies Page Styles */
.hobbies-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.hobby-item {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    text-align: center;
}

.hobby-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Contact Page Styles */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

form {
    display: grid;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 97.5%;
    padding: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}

input:focus, textarea:focus {
    border: 3px solid #191919;
    outline: none;
}

button[type="submit"] {
    background: transparent;
    border: 3px solid #191919;
    justify-content: center;
    color: #191919;
    cursor: pointer;
    display: flex;
    width: 100%;
    line-height: 50px;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    word-spacing: 1px;
    transition: all 0.4s;
}

button[type="submit"]:hover {
    color: #ffffff;
    background: #191919;
    border: 1px solid #191919;
}

.social-links {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.social-links li {
    margin-bottom: 0.5rem;
}

.social-links a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.social-links a:hover {
    color: #fdcb1c;
}

.social-links svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }

    .menu-button {
        display: none;
    }

    .me {
        flex-direction: column;
        text-align: left;
    }

    .me img {
        margin-right: 2rem;
    }

    .family-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hobbies-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .social-links {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .f-large{
        font-size: 3.6em;
    }

    .f-medium{
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1600px;
    }

    .me {
        flex-direction: column;
        text-align: left;
    }

    .me img {
        margin-right: 2rem;
    }

    .family-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hobbies-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .button{
        width: 200px;
    }

    .social-links {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .f-large{
        font-size: 3.6em;
    }

    .f-medium{
        font-size: 28px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }

    .me {
        flex-direction: row;
        text-align: left;
    }

    .me img {
        margin-right: 2rem;
        width: 550px;
    }

    .family-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hobbies-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .button{
        width: 200px;
    }

    .social-links {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .f-large{
        font-size: 3.6em;
    }

    .f-medium{
        font-size: 28px;
    }
}
